@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #1cb85d;
    border-radius: 20px;
}

::selection {
    background-color: #1cb85d;
    color: #fff
}

-webkit-::-moz-selection {
    background-color: #1cb85d;
    color: #fff
}

-webkit-::selection {
    background-color: #1cb85d;
    color: #fff
}

::-moz-selection {
    background-color: #1cb85d;
    color: #fff
}
